@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root  {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #7159c1;
    color: #fff;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &__link {
        text-decoration: none;
        color: white;
        margin-left: 1rem;
    }

    &__navbar {

    }

    &__link {
        &.active {
            color : red;
        }
    }
}

main {
    flex-grow: 1;
    padding: 0.5rem;
}

footer {
    background-color: #7159c1;
    color: #fff;
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
}